* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Bellefair", serif;
  font-family: "Barlow", sans-serif;
}

.home-body {
  background-image: url("../images/desktop-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 884px) {
  .home-body {
    height: 100vh;
  }
}
@media only screen and (max-width: 816px) {
  .home-body {
    background-image: url("../images/tablet-bg.jpg");
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width: 428px) {
  .home-body {
    height: 100vh;
  }
}
@media only screen and (max-width: 375px) {
  .home-body {
    background-image: url("../images/mobile-bg.jpg");
    background-repeat: no-repeat;
    height: 100vh;
  }
}

.destination-body {
  background-image: url("../images/destination-desktop-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.crew-body {
  background-image: url("../images/crew-desktop-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 850px) {
  .crew-body {
    background-image: url("../images/crew-tablet-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media only screen and (max-width: 450px) {
  .crew-body {
    background-image: url("../images/crew-mobile-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.technology-body {
  background-image: url("../images/technology-desktop-bg.jpg");
  background-repeat: no-repeat;
}
@media only screen and (max-width: 970px) {
  .technology-body {
    background-image: url("../images/technology-tablet-bg.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
  }
}
@media only screen and (max-width: 504px) {
  .technology-body {
    background-image: url("../images/technology-mobile-bg.jpg");
    height: 100vh;
  }
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding: 33px 0px;
  background-image: url("../images/navbar-bg-desktop.jpg");
  background-repeat: no-repeat;
  background-size: 870px 86px;
  background-position: right;
  background-position-y: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  display: none;
}

.header__line {
  display: inline-block;
  background-color: white;
  opacity: 0.2515;
  width: 333px;
  height: 1px;
}

@media only screen and (max-width: 1167px) {
  .site-header {
    background-size: 770px 86px;
  }
  .header__line {
    display: none;
  }
}
@media only screen and (max-width: 901px) {
  .site-header {
    background-size: 570px 86px;
  }
}
@media only screen and (max-width: 768px) {
  .site-header {
    padding: 0px;
    background-image: url("../../images/navbar-tablet-bg.jpg");
    background-repeat: no-repeat;
    background-size: 480px 96px;
    background-position: right;
    background-position-y: center;
  }
}
@media only screen and (max-width: 570px) {
  .site-header {
    background-size: 442px 96px;
  }
}
@media only screen and (max-width: 544px) {
  .site-header {
    padding-top: 24px;
    background: none;
  }
  .hamburger {
    display: block;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
@media only screen and (max-width: 375px) {
  .header__logo-img {
    width: 40px;
    height: 40px;
  }
}
.navbar {
  padding-right: 67px;
}

.navbar__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__item + .navbar__item {
  margin-left: 50px;
}

.navbar__item {
  padding: 34px 0 28px;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
}

.navbar__item:hover {
  border-bottom: 3px solid white;
}

.navbar__item-link {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.7px;
}

.navbar__item-number {
  margin-right: 11px;
  display: inline-block;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.7px;
}

@media only screen and (max-width: 901px) {
  .navbar__item + .navbar__item {
    margin-left: 25px;
  }
  .navbar__item-number {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .navbar__item-link {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2.362px;
  }
  .navbar {
    padding-right: 36px;
  }
}
@media only screen and (max-width: 570px) {
  .navbar {
    padding-right: 20px;
  }
}
@media only screen and (max-width: 544px) {
  .navbar {
    display: none;
  }
}
.hero-section {
  padding: 161px 0 86px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: end;
}

.hero__content {
  width: 445px;
}

.hero__small-title {
  color: #D0D6F9;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.125px;
}

.hero__title {
  font-family: "Bellefair", serif;
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 150px;
  margin: 24px 0;
}

.hero__text {
  color: #D0D6F9;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.hero__explore {
  font-family: "Bellefair", serif;
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
  width: 274px;
  height: 274px;
  flex-shrink: 0;
  border-radius: 274px;
  background: #FFF;
  padding: 119px 64px 118px 62px;
  color: #0B0D17;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  transition: all 0.3s;
}
.hero__explore:hover {
  box-shadow: 0 0 5px 5px rgba(36, 27, 27, 0.959);
}

@media only screen and (max-width: 816px) {
  .hero-section {
    padding: 106px 100px 90px;
  }
  .hero {
    flex-direction: column;
    align-items: center;
  }
  .hero__content {
    text-align: center;
    width: 100%;
  }
  .hero__text {
    margin-bottom: 154px;
  }
}
@media only screen and (max-width: 768px) {
  .hero__small-title {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 3.375px;
  }
  .hero__text {
    font-size: 16px;
    line-height: 28px;
  }
  .hero__explore {
    width: 242px;
    height: 242px;
    padding: 103px 48px 102px 46px;
  }
}
@media only screen and (max-width: 682px) {
  .hero-section {
    padding: 106px 50px 90px;
  }
  .hero__title {
    font-size: 130px;
    line-height: 130px;
  }
}
@media only screen and (max-width: 540px) {
  .hero-section {
    padding: 86px 35px 60px;
  }
  .hero__title {
    font-size: 110px;
    line-height: 110px;
  }
  .hero__text {
    margin-bottom: 130px;
  }
  .hero__small-title {
    text-align: center;
    font-size: 18px;
    letter-spacing: 2.375px;
  }
}
@media only screen and (max-width: 450px) {
  .hero-section {
    padding: 66px 15px 40px;
  }
  .hero__text {
    margin-bottom: 100px;
  }
  .hero__explore {
    width: 150px;
    height: 150px;
    padding: 68px 27.5px 59px 29.5px;
    color: #0B0D17;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1.25px;
  }
  .hero__title {
    font-size: 100px;
    line-height: 100px;
  }
}
@media only screen and (max-width: 375px) {
  .hero-section {
    padding: 46px 0px 30px;
  }
  .hero__small-title {
    font-size: 15px;
    letter-spacing: 2.7px;
  }
  .hero__title {
    font-size: 80px;
    line-height: 100px;
    margin: 16px 0;
  }
  .hero__text {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 81px;
  }
}
.destination-section {
  padding: 43px 0px 108px;
}

.destination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 63px;
}

.destination__wrapper {
  width: 510px;
}

.destination__wrapper-title {
  color: #FFF;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.725px;
  text-transform: uppercase;
  margin-bottom: 64px;
}

.destination__wrapper-number {
  font-weight: 700;
  opacity: 0.25;
}

.destination__img {
  width: 450px;
  height: 450px;
}

.destination__content {
  width: 444px;
  padding-top: 115px;
}

.destination__list {
  width: 333px;
  display: flex;
}

.destination__item + .destination__item {
  margin-left: 25px;
}

.destination__item {
  padding-bottom: 12px;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
}
.destination__item:hover {
  border-bottom: 3px solid white;
}

.destination__item-link {
  color: #D0D6F9;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.7px;
}

.destination__title {
  font-family: "Bellefair", serif;
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 100px;
  line-height: normal;
  margin: 37px 0 14px;
}

.destination__text {
  color: #D0D6F9;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 54px;
}

.destination__line {
  display: inline-block;
  width: 444px;
  height: 1px;
  flex-shrink: 0;
  background: #383B4B;
  margin-bottom: 28px;
}

.destination__cards {
  display: flex;
}

.destination__distance {
  display: flex;
  flex-direction: column;
  margin-right: 72px;
}

.destination__distance-text {
  color: #D0D6F9;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.362px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 12px;
}

.destination__distance-number {
  color: #FFF;
  font-family: "Bellefair";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.destination__day {
  display: flex;
  flex-direction: column;
}

.destination__day-text {
  color: #D0D6F9;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.362px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 12px;
}

.destination__day-number {
  color: #FFF;
  font-family: " Bellefair";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

@media only screen and (max-width: 1043px) {
  .destination {
    padding-left: 28px;
  }
  .destination__img {
    width: 400px;
    height: 400px;
  }
}
@media only screen and (max-width: 959px) {
  .destination-section {
    padding-top: 0px;
    padding-bottom: 68px;
  }
  .destination {
    padding-left: 8px;
  }
  .destination__wrapper {
    width: 420px;
  }
  .destination__wrapper-title {
    font-size: 20px;
    letter-spacing: 3.375px;
  }
  .destination__content {
    width: 382px;
  }
  .destination__line {
    width: 382px;
  }
  .destination__img {
    width: 380px;
    height: 380px;
  }
}
@media only screen and (max-width: 839px) {
  .destination {
    flex-direction: column;
    padding: 0;
  }
  .destination__wrapper {
    width: 100%;
    text-align: center;
    padding-top: 7px;
  }
  .destination__wrapper-title {
    text-align: start;
    margin-bottom: 60px;
  }
  .destination__img {
    width: 360px;
    height: 360px;
  }
  .destination__content {
    width: 100%;
    text-align: center;
    padding: 0 90px;
  }
  .destination__lists {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .destination__list {
    margin-top: 53px;
    width: 100%;
    justify-content: center;
  }
  .destination__title {
    margin: 32px 0 8px;
  }
  .destination__text {
    margin-bottom: 49px;
  }
  .destination__line {
    width: 100%;
  }
  .destination__cards {
    width: 100%;
    justify-content: center;
  }
}
@media only screen and (max-width: 555px) {
  .destination__img {
    width: 360px;
    height: 360px;
  }
  .destination__content {
    padding: 0 40px;
  }
  .destination__title {
    font-size: 80px;
    font-weight: 400;
  }
  .destination__text {
    font-size: 16px;
    line-height: 28px;
  }
}
@media only screen and (max-width: 544px) {
  .destination__wrapper {
    padding-top: 34px;
  }
}
@media only screen and (max-width: 484px) {
  .destination__wrapper-title {
    text-align: center;
  }
  .destination__img {
    width: 300px;
    height: 300px;
  }
  .destination__content {
    padding: 0 4px;
  }
  .destination__title {
    font-size: 56px;
    line-height: normal;
    margin: 20px 0 0;
  }
  .destination__text {
    font-size: 15px;
    line-height: 25px;
    -webkit-mask-box-image: 32px;
            mask-border: 32px;
  }
  .destination__cards {
    flex-direction: column;
  }
  .destination__distance {
    margin-right: 0;
    margin-bottom: 32px;
  }
}
@media only screen and (max-width: 375px) {
  .destination__wrapper-title {
    font-size: 16px;
    letter-spacing: 2.7px;
  }
  .destination__img {
    width: 240px;
    height: 240px;
  }
  .destination__item + .destination__item {
    margin-left: 10px;
  }
  .destination__content {
    padding: 0;
  }
  .destination__text {
    margin-bottom: 28px;
  }
}
.crew {
  padding-top: 29px;
}

.crew__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.crew__content {
  width: 552px;
  padding-left: 62.5px;
}

.crew__wrappper-content {
  width: 444px;
}

.crew__content-title {
  color: #FFF;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.725px;
  text-transform: uppercase;
  padding-left: 62.5px;
}

.crew__content-number {
  font-weight: 700;
  opacity: 0.25;
}

.crew__commander {
  color: #FFF;
  font-family: "Bellefair";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.5042;
}

.crew__title {
  font-family: "Bellefair", serif;
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FFF;
  font-size: 56px;
  line-height: normal;
  text-transform: uppercase;
  margin: 15px 0 27px;
}

.crew__text {
  color: #D0D6F9;
  font-style: normal;
  font-weight: 400;
  color: #D0D6F9;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 120px;
}

.crew__line {
  display: inline-block;
  width: 327px;
  height: 1px;
  flex-shrink: 0;
  background: #383B4B;
  display: none;
}

@media only screen and (max-width: 1158px) {
  .crew {
    align-items: end;
  }
  .crew__content {
    padding-left: 20px;
  }
  .crew__img {
    width: 500px;
    height: 620px;
    text-align: end;
  }
  .crew__content-title {
    padding-left: 20px;
  }
}
@media only screen and (max-width: 1047px) {
  .crew__img {
    width: 450px;
    height: 570px;
  }
  .crew__title {
    font-size: 52px;
  }
  .crew__content {
    width: 473px;
  }
}
@media only screen and (max-width: 962px) {
  .crew__title {
    font-size: 45px;
  }
  .crew__text {
    font-size: 16px;
  }
}
@media only screen and (max-width: 956px) {
  .crew {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .crew__cards {
    flex-direction: column;
  }
  .crew__content {
    padding: 0;
    width: 100%;
  }
  .crew__wrappper-content {
    padding: 0 100px;
    width: 100%;
  }
  .crew__content-title {
    margin-bottom: 60px;
    padding-left: 0;
  }
  .crew__title {
    margin: 8px 0 16px;
  }
  .crew__text {
    margin-bottom: 40px;
  }
  .crew__image {
    margin-bottom: 40px;
  }
  .crew__img {
    text-align: center;
  }
}
@media only screen and (max-width: 610px) {
  .crew__wrappper-content {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 500px) {
  .crew__img {
    width: 390px;
    height: 470px;
  }
}
@media only screen and (max-width: 431px) {
  .crew {
    padding-bottom: 104px;
  }
  .crew__cards {
    flex-direction: column-reverse;
  }
  .crew__line {
    width: 100%;
    display: block;
    margin-bottom: 32px;
  }
  .crew__img {
    width: 218px;
    height: 267px;
  }
  .crew__content-title {
    font-size: 16px;
    letter-spacing: 2.7px;
    margin-bottom: 32px;
  }
  .crew__commander {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .crew__title {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .crew__text {
    font-size: 15px;
    line-height: 25px;
  }
  .crew__wrappper-content {
    padding: 0;
  }
  .crew__image {
    width: 88px;
    height: 10px;
    margin: 0;
  }
}
.technology-section {
  background-image: url("../../images/technology-desktop-img.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 470px 487px;
}

.technology {
  padding: 43px 0 110px;
}

.technology__small-title {
  color: #FFF;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.725px;
  padding-left: 63px;
}

.technology__small-title-number {
  font-weight: 700;
  opacity: 0.25;
}

.technology__numbers {
  display: flex;
  flex-direction: column;
}

.technology__numbers-span {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: white;
  color: #0B0D17;
  text-align: center;
  font-family: "Bellefair";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  border-radius: 50%;
  justify-content: center;
  padding: 21px 34.5px 21px 34.5px;
  border: 1px solid white;
  transition: all 0.3s;
}

.technology__numbers-span + .technology__numbers-span {
  background-color: transparent;
  color: #FFF;
  margin-top: 31px;
}

.technology__numbers-span:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 5px 5px rgba(241, 239, 239, 0.233);
  cursor: pointer;
}

.technology__wrapper-content {
  width: 630px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 137px;
}

.technology__content {
  width: 470px;
}

.technology__content-small-title {
  color: #D0D6F9;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.7px;
}

.technology__title {
  color: #FFF;
  margin: 11px 0 17px;
  font-family: "Bellefair";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.technology__text {
  color: #D0D6F9;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.technology__wrapper {
  padding-left: 63px;
}

@media only screen and (max-width: 1195px) {
  .technology-section {
    background-size: 420px 437px;
  }
  .technology {
    padding: 43px 0 80px;
  }
  .technology__wrapper-content {
    width: 573px;
  }
  .technology__small-title {
    padding-left: 20px;
  }
  .technology__wrapper {
    padding-left: 20px;
  }
}
@media only screen and (max-width: 1043px) {
  .technology-section {
    background-size: 380px 397px;
    background-position-y: 150px;
  }
  .technology__wrapper-content {
    width: 537px;
  }
  .technology__content {
    width: 442px;
  }
  .technology__title {
    font-size: 51px;
  }
}
@media only screen and (max-width: 970px) {
  .technology-section {
    background-image: url("../../images/technology-tablet-img.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .technology__wrapper {
    padding-left: 0;
    padding-top: 403px;
  }
  .technology {
    padding: 43px 0px 0px;
  }
  .technology__numbers {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .technology__numbers-span + .technology__numbers-span {
    margin-top: 0px;
    margin-left: 16px;
  }
  .technology__numbers-span {
    margin-bottom: 44px;
  }
  .technology__wrapper-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .technology__wrapper {
    width: 100%;
    text-align: center;
  }
  .technology__content {
    width: 100%;
    padding: 0 50px 97px;
  }
}
@media only screen and (max-width: 768px) {
  .technology-section {
    background-position-y: 120px;
  }
  .technology__small-title {
    font-size: 20px;
    line-height: normal;
  }
  .technology__wrapper {
    padding-top: 300px;
  }
  .technology__title {
    font-size: 40px;
    font-weight: 400;
    margin: 16px 0;
  }
  .technology__text {
    font-size: 16px;
    line-height: 28px;
  }
  .technology__content {
    padding: 0 65px 90px;
  }
}
@media only screen and (max-width: 574px) {
  .technology__wrapper {
    padding-top: 210px;
  }
  .technology__content {
    padding: 0 45px 80px;
  }
}
@media only screen and (max-width: 504px) {
  .technology-section {
    background-image: url("../../images/technology-mobile-img.png");
    background-repeat: no-repeat;
  }
  .technology__wrapper {
    padding-top: 180px;
  }
  .technology__numbers-span {
    width: 40px;
    height: 40px;
    padding: 11px 16px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    margin-bottom: 26px;
  }
  .technology__content {
    padding: 0 15px 80px;
  }
}
@media only screen and (max-width: 406px) {
  .technology__content-small-title {
    font-size: 14px;
    line-height: normal;
  }
  .technology__wrapper {
    padding-top: 160px;
  }
  .technology__title {
    font-size: 28px;
    font-weight: 400;
  }
  .technology__text {
    font-size: 15px;
    line-height: 25px;
  }
  .technology__content {
    padding: 0 5px 70px;
  }
  .technology__small-title {
    padding-left: 0;
    text-align: center;
  }
}
@media only screen and (max-width: 354px) {
  .technology__content {
    padding: 0 0px 70px;
  }
  .technology__wrapper {
    padding-top: 120px;
  }
}
@media only screen and (max-width: 323px) {
  .technology-section {
    background-position-y: 90px;
  }
  .technology__wrapper {
    padding-top: 70px;
  }
  .technology__small-title {
    font-size: 17px;
  }
}/*# sourceMappingURL=main.css.map */