*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: 'Bellefair', serif;
    font-family: "Barlow", sans-serif;
}

.home-body{
  background-image: url("../images/desktop-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media only screen and (max-width:884px){
   height: 100vh;
  }
@media only screen and (max-width:816px){
  background-image: url("../images/tablet-bg.jpg");
  background-repeat: no-repeat;
}
@media only screen and (max-width:428px){
   height: 100vh;
}
@media only screen and (max-width:375px){
  background-image: url("../images/mobile-bg.jpg");
  background-repeat: no-repeat;
  height: 100vh;
}
}
.destination-body{
  background-image: url("../images/destination-desktop-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}




.crew-body{
  background-image: url("../images/crew-desktop-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media only screen and (max-width:850px){
    background-image: url("../images/crew-tablet-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media only screen and (max-width:450px){
    background-image: url("../images/crew-mobile-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

}

.technology-body{
  background-image: url("../images/technology-desktop-bg.jpg");
  background-repeat: no-repeat;
  

  @media only screen and (max-width:970px){
    background-image: url("../images/technology-tablet-bg.jpg"); 
  background-repeat: repeat-y;
  background-size: 100%;
  }

  @media only screen and (max-width:504px){
    background-image: url("../images/technology-mobile-bg.jpg");
    height: 100vh;
 
  }
}