*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}




body{
    background-image: url("../images/desktop-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

  @media only screen and (max-width:816px){
    background-image: url("../images/tablet-bg.jpg");
    background-repeat: no-repeat;
  }
  @media only screen and (max-width:375px){
    background-image: url("../images/mobile-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }


    font-family: 'Bellefair', serif;
    font-family: "Barlow", sans-serif;
}

